{% use "@Contao/component/_picture.html.twig" %}

<main {{ stimulus_action('contao/file-manager', 'deselectAll', 'click') }} data-droppable data-item="{{ listing.current_path }}">
    {# View controls #}
    <div class="controls" {{ stimulus_target('contao/file-manager', 'controls') }}>
        <button class="control control--list" {{ stimulus_action('contao/file-manager', 'viewList') }}><div></div></button>
        <button class="control control--grid" {{ stimulus_action('contao/file-manager', 'viewGrid') }}><div></div></button>
    </div>

    {# Loader #}
    <span class="loader"></span>

    {# Directory/file listing #}
    {% if listing.parent_path is not null %}
        <div class="level_up">
            <a class="item"
               href="{{ path('_contao_file_manager_navigate', {path: listing.parent_path}) }}"
               title="One level up"
               draggable="false"
               data-droppable="directory"
               data-item="{{ listing.parent_path }}">
                <div class="icon icon--level-up"></div>
                <span>..</span>
            </a>
        </div>
    {% endif %}

    <ol class="listing" {{ stimulus_target('contao/file-manager', 'listing') }}>
        {% for data in listing.data %}
            {# @var item \Contao\CoreBundle\Filesystem\FilesystemItem #}
            {% set item = data.item %}
            {% set id = 'item--' ~ item.path %}
            <li>
                <input type="checkbox" id="{{ id }}" data-item="{{ item.path }}" {{ stimulus_action('contao/file-manager', 'select') }}>
                <label for="{{ id }}"
                    class="item"
                    draggable="true"
                    data-droppable="{{ item.file ? 'file' : 'directory' }}"
                    {{ stimulus_action({'contao/file-manager': {'dblclick': 'navigate'}}) }}>
                    {# Preview image or icon #}
                    {% if item.file %}
                        {% if data.preview %}
                            <span class="preview">
                                {% with {figure: data.preview} %}{{ block('picture_component') }}{% endwith %}
                            </span>
                        {% else %}
                            <span class="icon icon--{{ item.mimeType('default') }}"></span>
                        {% endif %}
                    {% else %}
                        <span class="icon icon--directory"></span>
                    {% endif %}

                    {# Name and details #}
                    <span class="label">
                        <span class="name">{{ item.name }}</span>
                        {% if item.file %}
                            <span class="file-details">{{ item.fileSize|format_bytes }}</span>
                        {% endif %}
                    </span>
                </label>
            </li>
        {% endfor %}
    </ol>

    {# Drag image helper #}
    <canvas {{ stimulus_target('contao/file-manager', 'dragImage') }}></canvas>
</main>
