{% use "@Contao/component/_figure.html.twig" %}

{# @var current \Contao\CoreBundle\Filesystem\FilesystemItem #}

<turbo-stream action="replace" target="file-manager-select">
    <template>
        <turbo-frame id="file-manager-select">
            {% if current %}
                <div class="selection">
                    {# Title #}
                    <header>
                        {% if current.file %}
                            {% set item_attributes = attrs()
                                .addClass('file')
                                .addClass('mime--' ~ current.mimeType(false)) %}
                        {% else %}
                            {% set item_attributes = attrs()
                                .addClass('directory') %}
                        {% endif %}
                        <h3{{ item_attributes }}>{{ current.name }}</h3>
                        <a href="{{ path('_contao_file_manager_select') }}" class="close">×</a>
                    </header>

                    {# Image #}
                    {% if preview_image %}
                        {% with {figure: preview_image} %}{{ block('figure_component') }}{% endwith %}
                    {% endif %}

                    {# Properties #}
                    <table class="tl_show">
                        <tbody>
                        <tr>
                            <td><span class="tl_label">Relative path:</span></td>
                            <td>{{ current.path }}</td>
                        </tr>
                        {% if current.lastModified %}
                            <tr>
                                <td><span class="tl_label">Last modified:</span></td>
                                <td>{{ current.lastModified|format_datetime }}</td>
                            </tr>
                        {% endif %}
                        {% if current.uuid %}
                            <tr>
                                <td><span class="tl_label">Unique ID:</span></td>
                                <td>{{ current.uuid }}</td>
                            </tr>
                        {% endif %}

                        {# File specific things #}
                        {% if current.file %}
                            {% if current.fileSize %}
                                <tr>
                                    <td><span class="tl_label">File size:</span></td>
                                    <td>{{ current.fileSize|format_bytes }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        </turbo-frame>
    </template>
</turbo-stream>
