{% macro tree_node(tree, prefix='') %}
    <ol>
        {% for name, children in tree %}
            <li>
                {% set path = prefix ~ name %}
                <a class="item"
                   href="{{ path('_contao_file_manager_navigate', {path}) }}"
                   draggable="true"
                   data-droppable="directory"
                   data-item="{{ prefix ~ name }}">
                    <div class="icon icon--directory"></div>
                    <span>{{ name }}</span>
                </a>
                {% if children %}
                    {{ _self.tree_node(children, prefix ~ name ~ '/') }}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

<nav>
    {{ _self.tree_node(tree) }}
</nav>
