{% extends '@Contao/be_main.html5' %}

{% block main_content %}
    <section
        id="file-manager"
        {{ stimulus_controller(
            'contao/file-manager',
            {
                navigateUrl: path('_contao_file_manager_navigate'),
                detailsUrl: path('_contao_file_manager_details'),
                deleteUrl: path('_contao_file_manager_delete'),
                moveUrl: path('_contao_file_manager_move'),
            },
            {
                'grid': 'view--grid',
                'list': 'view--list',
                'dragging': 'drag--active',
                'dropping': 'drag--over',
            }
        ) }}
        {{ stimulus_action({
            'contao/file-manager': [
                {'dragstart' : 'dragStart'},
                {'dragenter' : 'dragEnter'},
                {'dragover' : 'dragOver'},
                {'dragleave' : 'dragLeave'},
                {'dragend' : 'dragEnd'},
                {'drop' : 'dragDrop'}
            ]
        }) }}>

        {# Overlays #}
        <turbo-frame id="file-manager--message"></turbo-frame>
        <turbo-frame id="file-manager--viewer"></turbo-frame>

        {# Grid components #}
        <turbo-frame id="file-manager--address">
            {{ include("@Contao/backend/file_manager/_address.html.twig") }}
        </turbo-frame>
        <turbo-frame id="file-manager--tree">
            {{ include("@Contao/backend/file_manager/_tree.html.twig") }}
        </turbo-frame>
        <turbo-frame id="file-manager--content">
            {{ include("@Contao/backend/file_manager/_content.html.twig") }}
        </turbo-frame>
        <turbo-frame id="file-manager--details"></turbo-frame>
    </section>
{% endblock %}
