{% macro tree_node(tree, prefix='') %}
    <ol>
        {% for name, children in tree %}
            <li>
                {% if children %}
                    <div class="item">
                        <div class="icon icon--directory"></div>
                        <span>{{ name }}</span>
                    </div>
                    {{ _self.tree_node(children, prefix ~ name ~ '/') }}
                {% else %}
                    {% set path = prefix ~ name %}
                    <button data-action="click->contao--template-studio#navigate" class="item" data-item="{{ prefix ~ name }}">
                        <span class="icon icon--element"></span>
                        <span>{{ name }}</span>
                    </button>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

<nav>
    {{ _self.tree_node(tree) }}
</nav>
