{% macro tree_node(tree) %}
    <ol>
        {% for name, nodes in tree %}
            <li>
                {% if nodes is iterable %}
                    {% if nodes|length > 1 or nodes|first is iterable %}
                        <span class="node">{{ name }}</span>
                        {{ _self.tree_node(nodes) }}
                    {% else %}
                        {% with {nodes: nodes|first} %}{{ block('navigate_button') }}{% endwith %}
                    {% endif %}
                {% else %}
                    {% block navigate_button %}
                        {# todo i18n #}
                        <button data-action="click->contao--template-studio#navigate" data-item="{{ nodes }}"
                                role="button" aria-label="Open &quot;{{ nodes }}&quot; template(s) in the editor" title="{{ nodes }}">
                            <img src="/system/themes/flexible/icons/code--dark.svg" width="16" height="16"
                                 alt="PDF file" class="color-scheme--dark" loading="lazy">
                            <img src="/system/themes/flexible/icons/code.svg" width="16" height="16" alt="PDF file"
                                 class="color-scheme--light" loading="lazy">
                            {{ nodes }}
                        </button>
                    {% endblock %}
                {% endif %}
            </li>
        {% endfor %}
    </ol>
{% endmacro %}

<nav>
    {{ _self.tree_node(tree) }}
</nav>
