{% set tab_name = 'editor-tab-' ~ item %}

<div class="tab">
    <label class="editor--title" for="{{ tab_name }}">
        <span>{{ item }}</span>
        <button data-action="click->contao--template-studio#closeTab">x</button>
    </label>
    <input id="{{ tab_name }}" name="tab" type="radio" checked="checked">
    <div class="editor--content">
        {% for source in sources|reverse %}
            <div data-contao--template-studio-target="editor">
                <h3>
                    <label for="template-editor-{{ loop.index }}">{{ source.name }}</label>
                    {% if loop.first %}<span>base</span>{% endif %}
                </h3>
                <textarea id="template-editor-{{ loop.index }}" data-item="{{ source.name }}">{{ source.code }}</textarea>
                <p class="editor--path tl_help tl_tip">{{ source.path }}</p>
            </div>
            {% if not loop.last %}
                <div class="editor--inheritance-chain">
                    <div>⇡</div>
                    <span>inherits from previous template</span>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

